body {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 15px;
    line-height: 20px;
    background-color: gainsboro;
}

#top-header {
    min-height: 100px;
    background-color: #27272A;
    border-radius: 0;
}

#logo {
    font-size: 48px;
    line-height: 100px;
    color: #2aabd2;
}

#navigation {
    height: 100px;
    line-height: 100px;
}

#navigation ul li {
    width: 90px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: gainsboro;
}

.nav > li > a {
    color: black;
    position: relative;
    display: block;
    padding: 10px 30px;
}

.nav > li {}
